body {
  color: #000000;
  font-size: $font-size;
  font-family: $font-open-sans;
  min-width: 340px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide-text {
  @include hide-text;
}

.container {
  box-sizing: border-box;
  min-width: 320px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

    // @media (min-width: $tablet) {
    //   max-width: 520px;
    // }

    // @media (min-width: $desctop) {
    //   max-width: 940px;
    // }
}

.win-game::after,
.lose-game::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../assets/img/win.jpg');
  content: '';
  background-size: cover;
  background-position: top -200px center;
  background-repeat: no-repeat;
}

.lose-game::after {
  background-image: url('../assets/img/lose.jpg');
  background-size: 58%;
  background-position: top;
}

.lose-game-message {
  position: fixed;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 16px;
  box-shadow: 2px 2px 0px 0px #062e8f7a;
  top: 22px;
  left: 13%;
  z-index: 6;
  color: #05112e;
    @media (min-width: $tablet) {
      padding: 12px 21px;
      font-size: 21px;
      top: 41px;
      left: 10%;
    }
    @media (min-width: $desctop) {
      padding: 23px 40px;
      font-size: 25px;
      top: 48px;
      left: 18%;
    }
}