$color-primary: #d70a80;
$color-play: #009aff;
$color-dark: #05112e;
$color-grey: #f7f7f7;
$color-black--light: #2d2d2d;

$font-open-sans: 'Open Sans', 'Arial', sans-serif;

$font-size: 18px;
$font-size-big: 22px;
$line-height: 30px;
$font-size--title: 50px;
$line-height--title: 72px;

$mobile: 320px;
$tablet: 540px;
$desctop: 960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;