// opencage
//  openweathermap
// api.weatherbit описания погоды(1 строка)
// http://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&lang={lang} 
// navigator.geolocation.getCurrentPosition
// opencagedata таймзона для даты
// flickr картинки
// city || town || county || village

body {
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  position: relative;

  font-size: $font-size;
  font-family: $font-montserrat;
  color: #ffffff;

  background-color: #E5E5E5;
  max-width: 100%;
  overflow-x: hidden;
  font-weight: bold;
}

a {
  text-decoration: none;

  cursor: pointer;
}


a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide-text {
  @include hide-text;
}

.container {
  position: relative;

  box-sizing: border-box;
  width: 90%;
  min-width: 320px;
  max-width: 1260px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.body-background {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
}

.body-background img {
  width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  height: 100%;
}

.background-overlay {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(8, 15, 26, 0.69) 0%, rgba(17, 17, 46, 0.56) 100%);
}

.main-container {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
}