.location-column {
  width: 100%;
  min-width: 270px;
  @media (min-width: $tablet) {
    width: 100%;
    min-width: 375px;
  }
  @media (min-width: $desctop) {
    flex-grow: 1;
    width: 30%;
    min-width: 375px;
  }
}

.location-properties {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  text-transform: capitalize;
}
