.location-column {
  width: 100%;
  min-width: 270px;
  @media (min-width: $tablet) {
    width: 100%;
    min-width: 375px;
  }
  @media (min-width: $desctop) {
    width: 30%;
    flex-grow: 1;
    min-width: 375px;
  }
}

.location-properties {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  text-align: right;
  text-transform: capitalize;

  color: #FFFFFF;
}