body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  font-size: $font-size;
  font-family: $font-open-sans;
  color: #000000;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;

  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide-text {
  @include hide-text;
}

.container {
  position: relative;

  box-sizing: border-box;
  width: 90%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $desctop) {
    padding-right: 20px;
    padding-left: 20px;
  }
}