.main-header {
  background-color: #000;
  flex-shrink: 0;
  background-image: url('../assets/img/pattern.png');
  background-repeat: repeat;
  padding: 20px 0;
}

.logo {
  color: #ffffffd9;
}

.logo-highlight {
  color: $color-primary;
  font-size: 41px;
}