.list-container {
  display: block;
  padding-top: 30px;
}

.list-container:before {
  @include pseudo;
  width: 100%;
  content: 'Detailed information';
  font-size: 25px;
  margin-bottom: 40px;
}

.slider-view-wrap .list-container {
  display: none;
}

.list-view-movie {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: auto;
  margin-bottom: 10px;
  padding: 15px;
  padding-right: 90px;
  padding-bottom: 37px;
  border-radius: 12px;
  background-image: linear-gradient(102deg, #303030, #1e1f22);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
  border-bottom: 1px dashed #ffffff5e;
  user-select: auto;
    @media (min-width: $tablet) {
      padding-right: 180px;
    }
}

.list-view-movie .movie-title {
  margin-top: 0;
  margin-bottom: 0;
}

.list-view-movie .movie-poster {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 85px;
    @media (min-width: $tablet) {
      width: 173px;
    }
}

.list-view-movie .rating-wrapper {
  margin-left: 0;
  @media (min-width: $tablet) {
    margin-left: 20px;
  }
}

.list-view-movie .movie-poster img {
  height: auto;
  object-fit: cover;
}

.list-view-movie .movie-rating {
  margin: 5px;
}

.list-view-movie .rating {
  display: none;
}

.list-view-movie::before,
.list-view-movie::after {
  display: none;
}

.list-view-movie .detail-info-wrap {
  display: none;
}

.movie-desct {
  padding: 10px;
  width: 100%;
  color: #ffffffc4;
  box-sizing: border-box;
}

.movie-desct .answer {
  text-decoration: underline;
  font-style: italic;
}

.plot {
  margin: 0;
  flex-shrink: 0;
}

.descr-bottom-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: .5s;
}

.details-input {
  display: none;
}

.details-switch {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  cursor: pointer;
  transform: rotate(0deg);
  transition: .3s;
  opacity: 0.3;
}

.details-switch:hover {
  opacity: 1;
}

.details-input:checked + .details-switch {
  transform: rotate(180deg);
  opacity: 1;
}

.details-input:checked ~ .descr-bottom-wrapper {
  max-height: 700px;
  @media (min-width: $desctop) {
    max-height: 500px;
  }
}

.load-more-btn {
  @include btn-reset;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url('../assets/img/icon-load-more.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 0.2;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  transition: .3s;
}

.load-more-btn.hide {
  display: none;
}

.load-more-btn:hover {
  opacity: 1;
}

.load-more-btn:focus {
  outline: none
}

.back-btn,
.scroll-top {
  box-sizing: border-box;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 42px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url('../assets/img/icon-back.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 0.4; 
  transition: .3s;
    @media (min-width: $tablet) {
      left: 20px;
      width: 25px;
      height: 25px;
    }
    @media (min-width: $desctop) {
      left: 23px;
      width: 30px;
      height: 30px;
    }
}

.scroll-top {
  background-image: url('../assets/img/icon-arrow.svg');
  transform: rotate(180deg);
  left: unset;
  top:unset;
  bottom: 42px;
  right: 4px;
    @media (min-width: $tablet) {
      left: unset;
      right: 20px;
    }
    @media (min-width: $desctop) {
      left: unset;
      right: 23px;
    } 
}

.back-btn:hover,
.scroll-top:hover {
  opacity: 1;
}

.back-btn:focus,
.scroll-top {
  outline: none;
}