.movie-title {
  margin: 16px 5px;
  font-weight: 500;
  font-size: 20px;
}

.movie-link {
  font: inherit;
  color: inherit;
}

.swiper-slide {
  position: relative;
  background-color: #242121a6;
  padding: 6px 11px;
  box-sizing: border-box;
  border-radius: 5px;
}

.swiper-slide::before,
.swiper-slide::after {
  @include pseudo;
  width: 88px;
  height: 137px;
  position: absolute;
  top: -9px;
  left: -8px;
  background-image: radial-gradient(#ffffffe6 1.5px, transparent 1.5px);
  background-size: calc(7 * 1.8px) calc(7 * 1.8px);
  z-index: -1;
}

.swiper-slide::before {
  top: unset;
  left: unset;
  bottom: 1px;
  right: 5px;
  width: 33px;
  height: 188px;
}

.movie-year {
  display: flex;
  align-items: center;
  color: #ffffffbd;
}

.movie-year::after {
  @include pseudo;
  height: 2px;
  width: 34px;
  margin-left: 9px;
  background-color: $color-primary;
}

.movie-poster img {
  width: 100%;
  height: 340px;
  object-fit: contain;
}