.search {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 70px;
  margin-bottom: 70px;
  @media (min-width: $tablet) {
    max-width: 100%;
  }
  @media (min-width: $desctop) {
    max-width: 650px;
  }
}

.search-input {
  flex-grow: 1;
  box-sizing: border-box;
  max-width: calc(100% - 45px);
  padding: 10px 0;
  padding-right: 24px;

  line-height: normal;
  color: #ffffff;

  background-color: transparent;
  background-image: linear-gradient(0deg, $color-primary 2px, transparent 2px);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 0 0;
  border: none;
  border-bottom: 1px solid #ffffff80;
  cursor: pointer;

  transition: 0.5s;
  @media (min-width: $tablet) {
    max-width: calc(100% - 55px);
    padding-right: 52px;
  }
  @media (min-width: $desctop) {
    max-width: calc(100% - 60px);
  }
}

.search-form {
  width: 670px;
}

.clear-search-btn {
  position: absolute;
  top: 50%;
  right: 53px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  background-image: url("../assets/img/clear-search-hover.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  transform: translateY(-50%);
  opacity: 0.25;

  transition: 0.3s;

  @include btn-reset;
  @media (min-width: $tablet) {
    right: 65px;
  }
  @media (min-width: $desctop) {
    right: 122px;
  }
}

.clear-search-btn:hover {
  opacity: 1;
}

.clear-search-btn:focus {
  outline: none;
}

.search-input:focus,
.search-input:hover,
.search-input.filled {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 2px;
  border-bottom: 1px solid transparent;
  outline: none;
}

.search-btn {
  position: relative;

  width: 45px;
  height: 45px;
  margin: 10px 10px 0 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../assets/img/search-hover.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 72%;
  opacity: 0.6;

  transition: 0.3s;

  @include btn-reset;
  @media (min-width: $tablet) {
    width: 45px;
    height: 45px;

    background-size: 72%;
  }
  @media (min-width: $desctop) {
    width: 60px;
    height: 60px;

    background-size: 42%;
  }
}

.keyboard-btn {
  position: relative;

  display: none;
  width: 35px;
  height: 35px;
  margin: 5px 10px 5px 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../assets/img/keyboard.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 0.3;

  transition: 0.3s;

  @include btn-reset;
  @media (min-width: $desctop) {
    display: inline-block;
  }
}

.keyboard-btn:hover {
  opacity: 1;
}

.keyboard-btn:focus {
  outline: none;
}

.search-btn.hide {
  display: none;
}

.search-btn:hover {
  opacity: 1;
}

.search-btn:focus {
  outline: none;
}

.search-input:focus ~ .search-btn,
.search-input:hover ~ .search-btn {
  background-image: url("../assets/img/search.svg");
}
