.swiper-container {
  min-height: 600px;
  box-sizing: border-box;
  padding-bottom: 30px;
  overflow: visible;
}

.swiper-wrapper {
  min-height: 600px;
  align-items: center;
  // justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 0;
  color: #ffffff9c;
  left: -20px;
  right: auto;
  transition: 0.3s;
}

.swiper-button-next {
  left: auto;
  right: -20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fff;
}

.swiper-button-disabled {
  color: #ffffff00
}