.game-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 174px;
  overflow: hidden;
  margin-bottom: 30px;
}

.start-game-btn {
  padding-top: 24px;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 400px;
  /* top: 200px; */
  z-index: 1;
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 20px 15px #009aff36;
  padding-bottom: 20px;
  padding-left: 34px;
  border: 32px solid #009aff1c;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: #ffffff;
  background-image: url('../assets/img/icon-start.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #2572ee;
  transition: top 1.3s, transform 1.3s;
}

.start-game-btn:hover {
  transform: translateY(-50%) rotate(360deg);
}

.repeat {
  background-image: url('../assets/img/icon-repeat.svg');
  transform: none;
  background-size: 82%;
  width: 125px;
  height: 125px;
  top: calc(100% - 180px);
  transition: top 1.3s, transform 1.3s, background 0.2s;
}

.repeat:hover {
  transform: none;
  background-size: 100%;
}

.repeat:focus {
  outline: none;
}