.game-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 174px;
  margin-bottom: 30px;
  overflow: hidden;
}

.start-game-btn {
  position: absolute;
  top: 400px;
  z-index: 1;

  display: block;
  width: 150px;
  height: 150px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 34px;

  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  background-color: #ffffff;
  background-image: url("../assets/img/start-game.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 11px 4px #b6d0f266;
  transform: translateY(-50%);
  cursor: pointer;

  transition: top 1.3s, transform 1s;
}

.start-game-btn:hover {
  transform: translateY(-50%) rotate(360deg);
}

.repeat {
  top: calc(100% - 180px);

  width: 125px;
  height: 125px;

  background-image: url("../assets/img/repeat-word.svg");
  background-size: 100%;
  box-shadow: none;
  transform: none;

  transition: top 1.3s, transform 1s, background 0.2s;
}

.repeat:hover {
  background-size: 120%;
  transform: none;
}

.repeat:focus {
  outline: none;
}
