.statistic {
  width: 100%;
  margin-bottom: 40px;

  border-collapse: collapse;
  font-size: 11px;

  box-shadow: 3px 3px 10px 0 #00000030;
  @media (min-width: $tablet) {
    font-size: 13px;
  }
  @media (min-width: $desctop) {
    font-size: 16px;
  }
}

.statistic td,
.title th {
  padding: 6px 5px;

  text-align: left;

  border: 1px solid #dddddd;
  @media (min-width: $tablet) {
    padding: 6px 10px;
  }
  @media (min-width: $desctop) {
    padding: 6px 20px;
  }
}

.title th {
  position: relative;

  padding: 14px 4px;

  text-align: center;
  color: #ffffff;

  background-color: #d70a80;
  border: 1px solid #dddddd;
  @media (min-width: $tablet) {
    padding: 20px 5px;
  }
  @media (min-width: $desctop) {
    padding: 20px 5px;
  }
}

.title .adaptive {
  padding-left: 22px;

  font-size: 0;
  @media (min-width: $tablet) {
    padding-left: 42px;

    font-size: 0;
  }
  @media (min-width: $desctop) {
    padding-left: 50px;

    font-size: 16px;
  }
}

.play-mode th {
  background-color: #009aff;
  background-image: linear-gradient(45deg, #14a1ff, #18a3ff);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../assets/img/icon-category.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  transform: translate(-50%, -50%);
  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
  @media (min-width: $desctop) {
    width: 25px;
    height: 25px;
  }
}

.icon.group {
  left: 50%;

  background-size: 90%;
  // transform: translateX(-50%);
  @media (min-width: $tablet) {
    left: 50%;
    // transform: translateX(-50%);
  }
  @media (min-width: $desctop) {
    left: 31px;

    transform: translateY(-50%);
  }
}

.icon.train {
  background-image: url("../assets/img/icon-train.svg");
}

.icon.play {
  background-image: url("../assets/img/icon-play.svg");
}

.icon.error {
  background-image: url("../assets/img/icon-error.svg");
}

.icon.percent {
  background-image: url("../assets/img/icon-percent.svg");
}

.support-elements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 35px 0;
  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: unset;
  }
  @media (min-width: $desctop) {
    flex-direction: row;
    align-items: unset;
  }
}

.support-legend {
  margin-bottom: 30px;

  box-shadow: 2px 2px 5px 0 #062e8f24;
}

.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 243px;
  height: 120px;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 13px;
  color: #05112e;

  background: #ffffff;
}

.legend-title {
  margin: 0;
  margin-bottom: 13px;
  
  color: #05112e;
  font-weight: 600;
}

.category-title {
  margin-bottom: 0.7em;
  padding-left: 0.5em;

  line-height: 20px;

  border-left: 20px solid black;
}

.statistic .category-title {
  display: block;
  height: 20px;
  margin-bottom: 0;

  font-size: 0;
  @media (min-width: $tablet) {
    font-size: 0;
  }
  @media (min-width: $desctop) {
    font-size: 16px;
  }
}

.legend em {
  font-style: normal;
}

.legend span {
  float: right;
}

.support-options {
  margin-left: 0;
  @media (min-width: $tablet) {
    margin-left: 12px;
  }
  @media (min-width: $desctop) {
    margin-left: 60px;
  }
}

.btn-stat {
  @include btn-reset;
  
  display: block;
  box-sizing: border-box;
  min-width: 189px;
  min-height: 51px;
  margin-bottom: 20px;
  padding: 6px 10px;

  font-weight: 600;
  font-size: 16px;
  color: #05112e;

  background-color: #ffffff;
  box-shadow: 3px 3px 10px 0 #062e8f4f;
}

.train-difficult {
  color: #ffffff;

  background-color: $color-primary;
  box-shadow: 3px 3px 10px 0 #d70a804f;
}

.play-mode .train-difficult {
  background-color: #009aff;
  box-shadow: 3px 3px 10px 0 #009aff4f;
}

.title th {
  position: relative;

  list-style: none;
  line-height: 1;

  border-radius: 3px;
  cursor: pointer;
}

.sort-btn:after {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  right: 0;

  display: inline-block;
  width: 0;
  height: 0;

  vertical-align: middle;

  border: 4px solid transparent;
  border-top-color: #ffffff47;
  border-bottom: none;
  transform: translateX(-50%);
  @media (min-width: $tablet) {
    border: 4px solid transparent;
    border-top-color: #ffffff47;
    border-bottom: none;
  }
  @media (min-width: $desctop) {
    border: 6px solid transparent;
    border-top-color: #ffffff47;
    border-bottom: none;
  }
}


.sort-btn:hover::after,
.sort-btn.active::after {
  border-top-color: #ffffff;
}

.sort-btn .reset {
  display: none;
}

.sort-btn.active .reset {
  display: block;
}

.sort-btn ul {
  position: absolute;
  top: 100%;
  left: -15%;

  width: 150%;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
  font-weight: bold;
  font-size: 11px;
  text-align: center;

  box-shadow: 2px 2px 5px 0 #062e8f24;
}

.sort-btn:hover ul {
  max-height: 200px;

  transition: max-height 0.4s linear;
}

.sort-btn li {
  padding: 5px 0;

  font-size: 11px;
  color: #ffffff;

  background-color: #05112ee0;

  backdrop-filter: blur(2px);
  @media (min-width: $desctop) {
    padding: 0;
  }
}

.sort-btn li:hover {
  background-color: #05112e;
}


.sort-btn li:first-child {
  position: relative;

  margin-top: 5px;

  border-radius: 3px 3px 0 0;
}

.sort-btn li:first-child::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;

  width: 1px;
  height: 1px;
  margin-left: -5px;

  border: 5px solid transparent;
  border-bottom-color: #05112e;
}

.sort-btn li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.adaptive.sort-btn li,
.sort-btn:first-child li {
  font-size: 0;

  background-image: url("../assets/img/icon-sort-item.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  // @media (min-width: $tablet) {
  // font-size: 0;
  // background-image: url('../assets/img/icon-sort-item.svg');
  // background-repeat: no-repeat;
  // background-size: 44%;
  // background-position: center;
  // }
  @media (min-width: $desctop) {
    font-size: 11px;

    background-image: none;
  }
}

.adaptive.sort-btn li:nth-child(2),
.sort-btn:first-child li:nth-child(2) {
  transform: rotate(180deg);
  @media (min-width: $desctop) {
    transform: none;
  }
}

.adaptive.sort-btn li:nth-child(3),
.sort-btn:first-child li:nth-child(3) {
  background-image: url("../assets/img/icon-reset-filters.svg");
  @media (min-width: $desctop) {
    background-image: none;
  }
}

.sort-btn a {
  display: block;
  padding: 12px;

  color: inherit;
  text-decoration: none;
}
